<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Tabla de seguimiento de precios agrícolas</h4>
                <div class="d-md-flex mt-3">
                    <input type="text" name="search" placeholder="Buscar" (input)="filterMonitoring($event)" class="form-control w-auto" />
                    <button *ngIf="!stateToshow" type="button" class="btn btn-danger ml-1" (click)='changeStateToShow()'>
                        <i class="fas fa-minus-circle" name="Inhabilitados"></i> 
                    </button>
                    <button *ngIf="stateToshow" type="button" class="btn btn-success ml-1" (click)='changeStateToShow()'>
                        <i class="fas fa-check-circle" name="Habilitados"></i> 
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped no-wrap border mt-4">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Número de registro</th>
                                <th>Nombre del informante</th>
                                <th>Identificación del informante</th>
                                <th>Fecha de Creación</th>
                                <th>Fecha de Actualización</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of monitoringList | slice: (numberPages-1) * numberDataShow : (numberPages-1) * numberDataShow + numberDataShow; let i = index">
                                <td class="justify-content-center">{{getPosition(data._id)}}</td>
                                <td class="justify-content-center">
                                    {{data.registry_number}}
                                </td>
                                <td class="justify-content-center">
                                    {{data.informant_name}}
                                </td>
                                <td class="justify-content-center">
                                    {{data.identification}}
                                </td>
                                <td class="justify-content-center">{{data.createdAt | date:"dd/MM/YY - hh:mm"}}</td>
                                <td class="justify-content-center">{{data.updatedAt | date:"dd/MM/YY - hh:mm"}}</td>
                                <td *ngIf="data.is_active; else monitorigDisabled" (click)="changeStatus(data)"><span class="btn btn-rounded btn-success">Activado</span> </td>
                                <ng-template #monitorigDisabled><td (click)="changeStatus(data)"> <span class="btn btn-rounded btn-danger">Desactivado</span></td> </ng-template>
                                <td class="justify-content-center">
                                    <a class="link mr-2" (click)="openModalEditMonitoring(data)"
                                    placement="top" ngbTooltip="Edit">
                                    <i class="ti-pencil text-info m-r-10 cursor" ></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center mt-2">    
                    <ngb-pagination [(page)]="numberPages"
                    [pageSize]="numberDataShow"
                    [collectionSize]="monitoringList.length"
                    [maxSize]="5"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
