.page-title {
    font-weight: 500;
}

.page-breadcrumb .breadcrumb .breadcrumb-item {
    font-weight: 700;
}
.page-breadcrumb .breadcrumb .breadcrumb-item.active {
    font-weight: 600;
    color: black;
}