<!-- Modal edit sample lobster -->
<div class="modal-header">
  
    <h5 class="modal-title" id="editLabel">Editar muestras langostas</h5>

    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </div>

  <div class="modal-body">
    
    
    
    <form [formGroup]="formEditSampleLobster" (ngSubmit)="saveChangeSampleLobster()">
        <div class="form-group row">
            <label for="control_total_bags_landed" class="col-sm-4 col-form-label">Total bolsas desembarcadas</label>
            <div class="col-sm-8">
                <input type="number" class="form-control"  formControlName="control_total_bags_landed" id="control_total_bags_landed">
                <div class="text-danger mt-2" *ngIf="invalidFieldSampleLobster('control_total_bags_landed')">
                    <p>{{ getErrorMessageEditSampleLobster("control_total_bags_landed") }}</p>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="control_total_sealed_bags" class="col-sm-4 col-form-label">Total bolsas selladas</label>
            <div class="col-sm-8">
                <input type="number" class="form-control"  formControlName="control_total_sealed_bags" id="control_total_sealed_bags">
                <div class="text-danger mt-2" *ngIf="invalidFieldSampleLobster('control_total_sealed_bags')">
                    <p>{{ getErrorMessageEditSampleLobster("control_total_sealed_bags") }}</p>
                </div>
            </div>
        </div>
        <!-- NG FOR NUMBER SEALS -->
        <div class="form-group row">
            <label for="number_seals" class="col-sm-4 col-form-label">Número de sellos</label>
            <div class="col-sm-8 select-icon">
                <select class="form-control" (change)="onChange($event)" id="number_seals">
                    <option *ngFor="let data of dataForm.value.number_seals; let i=index" value="{{i}}">{{data.seal}}</option>
                </select>
                <div class="text-danger mt-2" *ngIf="invalidFieldSampleLobster('number_seals')">
                    <p>{{ getErrorMessageEditSampleLobster("number_seals") }}</p>
                </div>
                <a (click)="openModalEditSeal(editModalSeal, posIncome)" class="link mr-2 ml-2" [ngClass]="{'disable': posIncome === undefined}" placement="top" ngbTooltip="Edit">
                    <i class="ti-pencil m-r-10 cursor" [ngClass]="{'disable': posIncome === undefined, 'text-info': posIncome !== undefined}" ></i>
                </a>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>

            <button type="submit" class="btn btn-primary">Editar</button>
        </div>
    </form>
</div>

<!--- Modal edit Seal -->
<ng-template #editModalSeal let-modal>
    <div class="modal-header">

        <h5 class="modal-title" id="editLabel">Editar sello</h5>

        <button type="button" class="close" (click)="closeModalS()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>

    </div>

    <div class="modal-body">
        <form [formGroup]="formEditSeal" (ngSubmit)="saveChangeSeal()">
            <div class="form-group row">
                <label for="seal" class="col-sm-4 col-form-label">Sello</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control"  formControlName="seal" id="seal">
                    <div class="text-danger mt-2" *ngIf="invalidFieldSeal('seal')">
                        <p>{{ getErrorMessageEditSeal("seal") }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeModalS()">Cancelar</button>

                <button type="submit" class="btn btn-primary">Editar</button>
            </div> 
        </form>
    </div>
</ng-template>