<!-- -------------------------------------------------------------------------------------- -->
<!-- Right sidebar of Page -->
<!-- -------------------------------------------------------------------------------------- -->
<div class="app-sidebar card" id="rightMenu">

    <div *ngIf='selectedAP'>
        <!-- -------------------------------------------------------------------------------------- -->
        <!-- Header of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <div class="d-flex p-3 border-bottom card-header">
            <div *ngIf='selectedAP' class="d-flex align-items-center">
                <input type="checkbox" class="custom-checkbox-width" [(ngModel)]='selectedAP.is_active'
                    (change)="checkboxIsActive($event,selectedAP)">
                <label *ngIf='selectedAP.is_active' class="ml-3 mb-0 text-dark font-medium">HABILITADO</label>
                <label *ngIf='!selectedAP.is_active' class="ml-3 mb-0 text-dark font-medium">INHABILITADO</label>
            </div>

            <div class="ml-auto">
                <a href="javascript:void(0)" class="text-danger" (click)='closeRightMenu()'>
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>

        <!-- -------------------------------------------------------------------------------------- -->
        <!-- Body of sidebar -->
        <!-- -------------------------------------------------------------------------------------- -->
        <div class="p-4">
            <!-- Formulario de página estática -->
            <form *ngIf='selectedAP' [formGroup]="pageForm" (ngSubmit)="saveSettings(pageForm.value)">
                <div *ngIf="selectedAP.domain === undefined">
                    <div class="form-group">
                        <label for="title">Título de {{titleTaskSection}}</label>
                        <textarea class="form-control" rows="3" formControlName="title" id="title" name="title" (keyup)="crearURL($event)"></textarea>
                        <p><strong>URL en Texto: </strong> <span id="texto-url"></span></p>
                    </div>
                    <div class="form-group row">
                        <div class="col">
                            <label for="site_id"> Sitio Web </label>
                            <select class="form-control" id="site_id" name="site_id" formControlName="site_id" (change)="onChange($event.target.value)">
                                <option *ngFor="let name of arrayPageWeb" [value]="name._id">{{name.title}}</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="slug">Slug</label>
                            <input type="text" class="form-control" id="slug" name="slug" formControlName="slug" readonly>
                        </div>                    
                    </div>
                    <div class="form-group">
                        <label for="body">Body</label>
                        <quill-editor id="body" name="body" formControlName="body" [style]="{height: '500px'}"></quill-editor>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save"></i>
                            Guardar
                            {{titleTaskSection}}
                        </button>
                    </div>
                </div>
            </form>

            <!-- Formulario de Sitio Web -->
            <form *ngIf='selectedAP' [formGroup]="webForm" (ngSubmit)="saveSettings(webForm.value)">
                <div *ngIf="selectedAP.domain !== undefined">
                    <div class="form-group">
                        <label for="title">Título de {{titleTaskSection}}</label>
                        <textarea class="form-control" rows="3" formControlName="title" id="title" name="title" [value]='selectedAP.title'></textarea>
                    </div>
                    <div class="form-group">
                        <label for="idSite">Identificador del Sitio</label>
                        <textarea class="form-control" placeholder="Ej: 'PáginaPrincipal45'" id="idSite" name="idSite" rows="3" formControlName="idSite" (keypress)="keyboardDisabled($event.charCode)" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="slogan">Slogan</label>
                        <textarea class="form-control" placeholder="Slogan del Sitio Web" id="slogan" name="slogan" rows="3" formControlName="slogan"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="domain">Dominio</label>
                        <input type="text" class="form-control" id="domain" name="domain" formControlName="domain">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" id="phone" name="phone" formControlName="phone">
                    </div>
                    <div class="form-group">
                        <label for="footer">Footer</label>
                        <input type="text" class="form-control" id="footer" name="footer" formControlName="footer">
                    </div>
                    <div class="form-group">
                        <label for="footer">Esquemas de Colores</label>
                        <button type="button" class="btn btn-warning btn-block" (click)='openModal(modalColor, 0)'>
                            Editar
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="social_links">Redes Sociales</label>
                        <button type="button" class="btn btn-warning btn-block" (click)='openModal(modalSocialLinks, 1)'>
                            Editar
                        </button>
                        <input type="text" class="form-control" id="social_links" name="social_links" formControlName="social_links">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <i class="fas fa-save"></i>
                            Guardar
                            {{titleTaskSection}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- -------------------------------------------------------------------------------------- -->
<!-- Task header -->
<!-- -------------------------------------------------------------------------------------- -->

<div class="d-md-flex align-items-center  mt-2 bg-white p-3">
    <div>
        <h3 class="mb-0">Páginas</h3>
    </div>

    <div class="ml-auto">
        <!-- Add Task -->
        <button type="button" class="btn btn-cyan text-white" [disabled]="arrayPage.length === 0" (click)='addPages("page")'>
            <i class="fas fa-plus"></i> Agregar Página
        </button>
        <!-- Add new web site -->
        <button type="button" class="btn btn-dark ml-3" (click)='addPages("web")'>
            <i class="fas fa-plus"></i> Agregar Sitio Web
        </button>
        <!-- Add new section -->
        <button *ngIf="id_view === 0" type="button" class="btn btn-danger ml-1" (click)='giveDataOff(false)'>
            <i class="fas fa-minus-circle" name="Inhabilitados"></i> 
        </button>
        <button *ngIf="id_view !== 0" type="button" class="btn btn-success ml-1" (click)='giveDataOff(true)'>
            <i class="fas fa-check-circle" name="Habilitados"></i> 
        </button>
    </div>

</div>

<!-- -------------------------------------------------------------------------------------- -->
<!-- Listing of no. of Tasks -->
<!-- -------------------------------------------------------------------------------------- -->

<div class="d-md-flex align-items-center justify-content-between border-top border-bottom bg-white p-2">
    <!-- No. of Incomplete task -->
    <input type="text" name="search" placeholder="Buscar página/sitio" class="form-control w-auto" (input)="filterUsers($event)"/>

    <a href="javascript:void(0)" class="d-flex align-items-center p-2 rounded-pill bg-light">
        <span class="badge badge-success badge-pill px-3 font-weight-bold font-14">{{completedcount}}</span>
        <h5 class="mb-0 ml-1 text-dark"> Página(s) Habilitada(s)
        </h5>
    </a>
    <!-- No. of complete task -->
    <!-- <a href="javascript:void(0)" class="d-flex align-items-center p-2 rounded-pill bg-light mt-3 mt-md-0">
        <span class="badge badge-danger badge-pill px-3 font-weight-bold font-14">{{countPages}}</span>
        <h5 class="mb-0 ml-1 text-dark"> Página(s) Inhabilitada(s)
        </h5>
    </a> -->
    <!-- No. of Total task -->
    <a href="javascript:void(0)" class="d-flex align-items-center p-2 rounded-pill bg-light mt-3 mt-md-0">
        <span class="badge badge-info badge-pill px-3 font-weight-bold font-14">{{totalPages}}</span>
        <h5 class="mb-0 ml-1 text-dark"> Total de Página(s)
        </h5>
    </a>
</div>

<!-- -------------------------------------------------------------------------------------- -->
<!-- Listing of available tasks -->
<!-- -------------------------------------------------------------------------------------- -->

<div class="bg-white">
    <div *ngFor='let st of arrayPage | slice: (page-1) * pageSize : page * pageSize ; let i=index'>
        <!-- If the section is available and on click add border on left side -->
        <div *ngIf="st.domain">
            <div class="bg-light text-dark cursor p-3 d-flex align-items-center" (click)='sectionTaskSelected(st)'
                [ngStyle]="{'border-left':st.border ? '3px solid #2962ff' : 'none' }">
                <i class="mdi font-20 my-n2"></i>
                <div class="font-weight-bold font-18">{{st.title}}</div>
            </div>
        </div>


        <!-- If the list is available and on click add border on left side -->
        <div *ngIf="st.domain === undefined" class="d-md-flex align-items-center p-3 cursor border-bottom"
            [ngStyle]="{'border-left':st.border ? '3px solid #2962ff' : 'none' }">

            <div class="cursor d-flex align-items-center">
                <div class="flex-shrink-0 d-flex align-items-center">
                    <i class="mdi font-20 my-n2"></i>
                    <!-- checkbox -->                    
                    <span class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="check{{i}}" [checked]='st.is_active'
                            (change)="checkboxIsActive($event,st)">
                        <label class="custom-control-label" for="check{{i}}">
                        </label>
                    </span>
                </div>
                <!-- If task is completed [Title] -->
                <span *ngIf='!st.is_active' (click)='sectionTaskSelected(st)'>
                    <span class="text-muted font-16 text-decoration-linethrougth">{{st.title}}</span>
                </span>
                <!-- If task is not completed [Title] -->
                <div *ngIf='st.is_active' (click)='sectionTaskSelected(st)'>
                    <span class="font-16"> {{st.title}}</span>
                </div>
            </div>
            <!-- priority of tasks -->
            <div class="ml-auto mt-3 mt-md-0" (click)='sectionTaskSelected(st)'>
                <div class="d-flex align-items-center justify-content-center">
                    <div class="ml-auto text-center border-left pl-3">
                        <div class="text-center">
                            <i class="fas fa-calendar"></i>                            
                        </div>
                        <span class="font-weight-normal text-muted">{{st.updatedAt | date:"dd/MM/YY - hh:mm"}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ./ If the list is available and on click add border on left side -->
    </div>
    <div class="d-flex justify-content-center mt-4">
        <ngb-pagination id="paginator" #i [(page)]="page" [pageSize]="pageSize" [(collectionSize)]="arrayPage.length">
        </ngb-pagination>
    </div>
</div>
<br><br>

<ng-template #modalColor let-modal>
    <form action="" [formGroup]="colorForm" (ngSubmit)="saveColor(colorForm.value, webForm)">
        <div class="modal-header d-block">
            <h3 class="modal-title text-center font-weight-bold" id="taskLabel"> <i class="{{dataModal[posModal].icon}}"></i> {{dataModal[posModal].title}}</h3>
            
          </div>
          
          <div class="modal-body">
              <div class="form-group">
                  <label for="primary">Primario</label>
                  <input type="color" class="form-control" formControlName="primary" id="primary">
                  {{selectedAP.color_schemes.primary}}
              </div>
              <div class="form-group">
                  <label for="secondary">Secundario</label>
                  <input type="color" class="form-control" formControlName="secondary" id="secondary" name="secondary">
                  {{selectedAP.color_schemes.secondary}}
              </div>
              <div class="form-group">
                  <label for="hover">Hover</label>
                  <input type="color" class="form-control" formControlName="hover" id="hover" name="hover">
                  {{selectedAP.color_schemes.hover}}
              </div>
              <div class="form-group">
                  <label for="link_visited">Link de visitas</label>
                  <input type="color" class="form-control" formControlName="link_visited" id="link_visited" name="link_visited">
                  {{selectedAP.color_schemes.link_visited}}
              </div>
              <div class="form-group">
                  <label for="background_primary">Background primerio</label>
                  <input type="color" class="form-control" formControlName="background_primary" id="background_primary" name="background_primary">
                  {{selectedAP.color_schemes.background_primary}}
              </div>
              <div class="form-group">
                  <label for="background_secondary">Background secundario</label>
                  <input type="color" class="form-control" formControlName="background_secondary" id="background_secondary" name="background_secondary">
                  {{selectedAP.color_schemes.background_secondary}}
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-dark" (click)="closeBtnClick()">Cerrar</button>
              <!--Método click que quieres que realice-->
              <button type="submit" class="btn btn-primary">Aceptar</button>
          </div> 
    </form>
</ng-template>

<ng-template #modalSocialLinks let-modal>
    <div class="modal-header d-block">
    <h3 class="modal-title text-center font-weight-bold" id="taskLabel"> <i class="{{dataModal[posModal].icon}}"></i> {{dataModal[posModal].title}}</h3>
    
    </div>
    
    <div class="modal-body">
        empty
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="closeBtnClick()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="deleteClick(selectedAP)">Aceptar</button>
    </div> 
</ng-template>