<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-0">Tabla Áreas de Pesca </h4>
                <div class="d-md-flex mt-3">
                    <input type="text" name="search" placeholder="Buscar área de pesca" class="form-control w-auto" (input)="filterFishingArea($event)" />
                    <button type="button"  class="btn btn-primary ml-auto" (click)="openModal(modalAddFishingArea)"><i class="fas fa-plus"></i> Agregar Área de Pesca</button>
                    <button *ngIf="id_view === 0" type="button" class="btn btn-danger ml-1" (click)='giveDataOff(false)'>
                        <i class="fas fa-minus-circle" name="Inhabilitados"></i> 
                    </button>
                    <button *ngIf="id_view !== 0" type="button" class="btn btn-success ml-1" (click)='giveDataOff(true)'>
                        <i class="fas fa-check-circle" name="Habilitados"></i> 
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped no-wrap border mt-4">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descripción</th>
                                <th>Fecha de Creación</th>
                                <th>Fecha de Actualización</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of fishingAreaArray | slice: (numberPages-1) * numberFishingAreaShow : (numberPages-1) * numberFishingAreaShow + numberFishingAreaShow">
                                <td class="justify-content-center">{{getPositionFishingArea(data._id)}}</td>
                                <td class="justify-content-center">{{data.description}}</td>
                                <td class="justify-content-center">{{data.createdAt | date:"dd/MM/YY - hh:mm"}}</td>
                                <td class="justify-content-center">{{data.updatedAt | date:"dd/MM/YY - hh:mm"}}</td>
                                <td *ngIf="data.is_active; else fishingAreaDisabled" (click)="changeStatus(data)"><span class="btn btn-rounded btn-success">Activado</span> </td>
                                <ng-template #fishingAreaDisabled><td (click)="changeStatus(data)"> <span class="btn btn-rounded btn-danger">Desactivado</span></td> </ng-template>
                                <td>
                                    <a (click)="openModalEdit(editFishingAreaModal, data)" class="link mr-2"
                                      placement="top" ngbTooltip="Edit">
                                      <i class="ti-pencil text-info m-r-10 cursor" ></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center mt-2">    
                    <ngb-pagination [(page)]="numberPages"
                    [pageSize]="numberFishingAreaShow"
                    [collectionSize]="fishingAreaArray.length"
                    [maxSize]="5"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Modal add fishingArea -->

<ng-template #modalAddFishingArea let-modal>

    <div class="modal-header">
        <h5 class="modal-title" id="addLabel">Agregar Área de Pesca</h5>
        <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="formFishingArea" (ngSubmit)="saveDataFishingArea()">

            <div class="form-group row">
                <label for="description" class="col-sm-4 col-form-label">Descripción</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="description" id="description">
                    <div class="text-danger mt-2" *ngIf="invalidField('description')">
                        <p>{{ getErrorMessage("description") }}</p>
                    </div>
                </div>
            </div> 

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="closeModal()">Cerrar</button>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>

</ng-template>


<!--- Modal edit fishingArea -->
<ng-template #editFishingAreaModal let-modal>
  
    <div class="modal-header">
  
      <h5 class="modal-title" id="editLabel">Editar Área de Pesca</h5>
  
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  
    </div>
  
    <div class="modal-body">
  
      <form [formGroup]="formEditFishingArea" (ngSubmit)="updateDataFishingArea()">
  
        <div class="form-group row">
            <label for="description" class="col-sm-4 col-form-label">Descripción</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="description" id="description">
                <div class="text-danger mt-2" *ngIf="invalidFieldE('description')">
                    <p>{{ getErrorMessageEdit("description") }}</p>
                </div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
  
          <button type="submit" class="btn btn-primary">Editar</button>
        </div>
      </form>
    </div>
  </ng-template>